version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    # environment:
    #   DATABASE_URL: "postgres://user:password@db:5432/mydatabase?sslmode=disable"
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: avito_pr_service
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data # Persist database data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d avito_pr_service"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata: